<header>
    <h1>Lista de empleados</h1>
    <div class="search-container">
      <input type="text" placeholder="Buscar empleado...">
      <button routerLink="/add">Agregar empleado</button>
    </div>
</header>
<div class="employee-container">
    <div class="employee-card" *ngFor="let employee of employees">
      <img src="https://i.pinimg.com/originals/70/51/0d/70510d702f83003889aaf3d21b7f4efb.jpg" alt="Foto del empleado">
      <h2>{{employee.Nombre}}</h2>
      <p>Software Developer</p>
      <p><strong>Email:</strong>{{employee.Correo}}</p>
      <p><strong>Phone:</strong>{{employee.Telefono[0]}}</p>
      <div class="buttons">
          <button>Edit</button>
          <button>Delete</button>
        </div>
    </div>
</div>