<h1>Control check-in</h1>
<div class="cards-container">
    <div class="card" *ngFor="let employee of employees" routerLink="/check-employee/{{employee.IdEmpleado}}"><!--(click)="toCheck(employee)"-->
        <div class="card-header">
            <h2 class="card-title">{{employee.Nombre}}</h2>
        </div>
        <div class="card-content">
            <img src="https://via.placeholder.com/150x150" alt="Imagen de la tarjeta">
            <div>
                <p><strong>ID: </strong>{{employee.IdEmpleado}}</p>
                <p><strong>Turno: </strong>{{employee.Turno}}</p>
                <p><strong>Tel: </strong>{{employee.Telefono[0]}}</p>
                
            </div>
        </div>
    </div>
</div>