
	<div class="container">
		<h1>Registro de roles</h1>
		<form>
			<div class="form-group">
			  <label for="nombre">Nombre del rol:</label>
			  <input type="text" id="nombre" name="nombre">
			</div>
			<div class="form-group">
			  <label for="email">Descripoción:</label>
			  <input type="text" id="email" name="email">
			</div>
			<div class="form-group">
			  <label for="tareas">Menú 1:</label>
			  <ul id="tareas">
				<li><input type="checkbox" id="tarea1" name="tarea1"><label for="tarea1">Op 1</label></li>
				<li><input type="checkbox" id="tarea2" name="tarea2"><label for="tarea2">Op 2</label></li>
				<li><input type="checkbox" id="tarea3" name="tarea3"><label for="tarea3">Op 3</label></li>
			  </ul>
			</div>
			<div class="form-group">
				<label for="tareas">Menú 2:</label>
				<ul id="tareas">
				  <li><input type="checkbox" id="tarea1" name="tarea1"><label for="tarea1">Op 1</label></li>
				  <li><input type="checkbox" id="tarea2" name="tarea2"><label for="tarea2">Op 2</label></li>
				  <li><input type="checkbox" id="tarea3" name="tarea3"><label for="tarea3">Op 3</label></li>
				</ul>
			  </div>
			<input type="submit" value="Registrar">
		  </form>  
	</div>
