<div class="container">
	<h1>Registro de roles</h1>
	<form>
		<div class="form-group">
		  <label for="nombre">Nombre del rol:</label>
		  <input type="text" id="nombre" #nombre name="nombre" [(ngModel)]="nameRol">
		</div>
  		<div class="form-group">
			<label for="descripción">Descripción:</label>
			<textarea id="descripción" name="descripción" [(ngModel)]="descRol" rows="4" cols="50" style="resize: none;"></textarea>
		</div>
		<div class="form-container">
			<div class="form-group">
				<label for="tareas">Privelegios 1:</label>
				<ul id="tareas">
				  <li><input type="checkbox" id="tarea1" name="tarea1"><label for="tarea1">Op 1</label></li>
				  <li><input type="checkbox" id="tarea2" name="tarea2"><label for="tarea2">Op 2</label></li>
				  <li><input type="checkbox" id="tarea3" name="tarea3"><label for="tarea3">Op 3</label></li>
				</ul>
			</div>
			<div class="form-group">
				<label for="tareas">Privelegios 2:</label>
				<ul id="tareas">
					<li><input type="checkbox" id="tarea4" name="tarea4"><label for="tarea4">Op 1</label></li>
					<li><input type="checkbox" id="tarea5" name="tarea5"><label for="tarea5">Op 2</label></li>
					<li><input type="checkbox" id="tarea6" name="tarea6"><label for="tarea6">Op 3</label></li>
				  </ul>
			</div>
		</div>
		<input type="submit" value="Registrar" (click)="registrar()">
	</form>  
</div>