
<main>
    <section id="slider">
      
    </section>
    <section id="informacion">
        <h2>Conoce más sobre nosotros</h2>
        <div class="dueños">
            <h3>Conoce a nuestros dueños</h3>
            <!-- Aquí iría información sobre los dueños del gimnasio -->
        </div>
        <div class="empleado-del-mes">
            <h3>Empleado del mes</h3>
            <!-- Aquí iría información sobre el empleado del mes -->
        </div>
        <div class="membresias">
            <h3>Membresías</h3>
            <!-- Aquí iría información sobre los planes de membresía que ofrece el gimnasio -->
        </div>
        <div class="otra-informacion">
            <h3>Otra información</h3>
            <!-- Aquí iría otro tipo de información que consideres importante -->
        </div>
    </section>
</main>